.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }
  .example-chip-list {
    width: 100%;
  }
.input_field {
    padding: 0px 12px;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 9px;
}
.col_down {
    margin-bottom: 2rem;
}
.card-head{
    background: #6dc2ff !important;
}
.btn {
    color: black;
    background: white;
    width: 7%;
    float: right;
    margin-top: -2.5rem !important;
    margin-bottom: 2rem;
    
}
.img_icon {
    width: 33px;
    margin-top: -75px;
}
.alert {
  margin-top: 5px;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}