
.card-head{
    background: #6dc2ff !important;
}
.btn {
    float: right;
    margin-top: 0rem !important;
    color: black;
    background: white;
}
.title {
    font-size: 20px;
    font-weight: 500;
}
.img_icon {
    width: 20px;
}