<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-head">
                        <button type="button" class="btn btn-primary mt-2 mt-md-3 mt-lg-4" routerLink="/product">Add Product</button>
                       
                        <h4 class="card-title title">Products</h4>
                       
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>
                                            {{product.id}}
                                        </td>
                                        <td>
                                            {{product.name}}
                                        </td>
                                        <td>
                                            {{product.category}}
                                        </td>
                                        <td>
                                            &#8377; {{product.price}}
                                        </td>
                                        <td>
                                            {{product.quantity}}
                                        </td>
                                        <td>
                                            <div *ngIf="product.status === true">
                                                <img src="/assets/img/check.png" class="img_icon">
                                            </div>
                                            <div *ngIf="product.status === false">
                                                <img src="/assets/img/cross.png" class="img_icon">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>