<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top top-header">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
           
           
            <div class="dropdown">
                
                <button type="button" class="btn btn-primary dropdown-toggle drop_button" data-toggle="dropdown">
                       Rohan 
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Logout</a>
                  
                </div>
              </div>
            
        </div>
    </div>
    </nav>